.animation-wrap 
	// animation：各个参数 
	// 参见：http //www.w3school.com.cn/css3/css3_animation.asp
	.i-animation 
		display block
		width 100px 
		height 100px 
		background-color #ccc
		animation firstAnimation 5s linear 0s infinite normal 				// animation 缩写：*** 不包含 animation-play-state 此参数
		// animation-name firstAnimation
		// animation-duration 5s						// 动画持续时间
		// animation-timing-function linear 			// ease动画：linear, ease, ease-in, ease-out, ease-in-out  // http://www.w3school.com.cn/cssref/pr_animation-timing-function.asp
		// animation-delay 0s							// 延迟播放
		// animation-iteration-count infinite 			// 或时间1s
		// animation-direction normal 					// alternate
		// animation-play-state running 				// 播放与暂停：paused ，可结合js控制 //http://www.w3school.com.cn/cssref/pr_animation-play-state.asp
	.i-transition
		display block
		width 100px 
		height 100px 
		background-color #ccc
	.i-transition-demo01
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		transition all 0.5s ease
	.i-transition-demo01:hover
		width 200px
		height 200px
		font-size 20px
		opacity 0.5
		



@keyframes firstAnimation
	10% {
		background-color #f00
	}
	40% {
		background-color #ff0
	}
	100% {
		background-color #eee
	}
