<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/css/demo.css">
  <title>基础demo，不含事件</title>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/resources/js/libs/react.js"></script>
    <script type="text/javascript" src="/resources/js/libs/JSXTransformer.js"></script>
    <script type="text/javascript" src="/resources/js/libs/underscore.js"></script>
    <script type="text/jsx" src="/resources/js/demo_base.js"></script>
</body>
</html>