
<!--
Created by yangdongxu on 16/3/31.


-->
<div ng-init="vm.init()" class="option-panel-wrap">
  <div ng-class="{true:&quot;focus&quot;}[vm.searchOnFocus]" class="option-search">
    <input type="text" ng-focus="vm.searchFocus()" ng-blur="vm.searchBlur()" ng-model="vm.searchInputVal"><i ng-click="vm.clickSearch()" class="fa fa-search"></i>
  </div>
  <div class="option-tabs">
    <div ng-class="{true:&quot;active&quot;}[vm.curTab === &quot;province&quot;]" ng-click="vm.changeTab(&quot;province&quot;)" class="province-tab">省份排行</div>
    <div data-t="city" ng-class="{true:&quot;active&quot;}[vm.curTab === &quot;city&quot;]" ng-click="vm.changeTab(&quot;city&quot;)" class="city-tab">城市排行</div>
  </div>
  <div class="option-list">
    <table>
      <tr ng-repeat="item in vm.list[vm.curTab] | filter: vm.searchInputVal">
        <td data-ng-bind="$index + 1" class="region-index"></td>
        <td data-ng-bind="item.name" class="region-name"></td>
        <td data-ng-bind="item.idx"></td>
        <td><img ng-if="item.change === &quot;up&quot;" src="https://img.alicdn.com/tps/TB1kOD.MXXXXXaYXXXXXXXXXXXX-16-36.png"><img ng-if="item.change === &quot;down&quot;" src="https://img.alicdn.com/tps/TB1Cf2_MXXXXXbMXXXXXXXXXXXX-16-36.png"></td>
        <td ng-if="vm.needCompare"><span ng-click="vm.addCompare(item)" class="add-compare"><i class="fa fa-plus"></i>&nbsp;对比</span></td>
      </tr>
    </table>
  </div>
</div>