<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css3 动画</title>
    <link rel="stylesheet" href="./resources/css/animation.css" >
    <link rel="stylesheet" href="./resources/libs/bootstrap/css/bootstrap.css" >
</head>
<body>
    <article class="container animation-wrap">
        <section class="row">
            <h3 class="text-center">transition</h3>
            <div class="col-md-4">
                <p>
                    <i class="i-transition i-transition-demo01">字号：20px；透明度0.5；</i>
                </p>
                <p><mark>演示：</mark>颜色；宽、高度；透明度</p>
            </div>

<!--             变形、位置

            
            
            间距、边距
 -->            


            
            <div class="col-md-4">
                <i class="i-animation"></i>    
            </div>
            <div class="col-md-4">
                <i class="i-animation"></i>    
            </div>
        </section>
    </article>
</body>
</html>