//
                         Created by biankai on 14/12/17.
html(lang="en")
    head
        title Elements page
    body
        h1 Elements page
        div#element Apart from
            #other_elements
            | In fact we
        .items Divs can have classes too
            | Event things like
        p
            | 欢迎来到express首页
            | we need
        ul
            li First list
            li second list
            li
                a(href="http://www.baidu.com") links
        table(border="1" ,cellspacing=0 ,cellpadding=0)
            tr
                th the th tag
                td the td tag
            tr
                td
                    label(for="email") email
                td
                    input(type="text", id="email")
        p
            select(name="type")
                option(value="dev") Developer
                option(value="qa") Tester
        script(src="/script/util.js")