//
   Created by biankai on 14/12/17.
html(lang="en")
    head
        title With headers and sections
    body
        h1 HOME PAGE
        p
            | 欢迎来到express首页
            | we need
        div#element Apart from

        #other_elements
            | In fact we
        .items Divs can have classes too
            | Event things like
        ul
            li First list
            li second list
            li
                a(href="http://www.baidu.com") links baidu