内置对象
1. request
2. session

cookie 是否支持？

获取用户名：
$!{request.getAttribute("userInfo").email}

<p></p>

#set( $page = $request.getParameter('page'))
$page


#set( $arr = ["Not", "xx", "fault"] ) ## ArrayList
$arr.get(0)

## map json  ？



velocity 判断为空
#*
Velocity中对null的支持比较特别。总统上说，判断是否为null有下面几种方法：
    1. #if (! $foo) 判断$foo为空，判断非空为 #if ($foo)
    2. 使用 #ifnull() 或 #ifnotnull()
    #ifnull ($foo)
    要使用这个特性必须在velocity.properties文件中加入：
userdirective = org.apache.velocity.tools.generic.directive.Ifnull
userdirective = org.apache.velocity.tools.generic.directive.Ifnotnull
    3. 使用null工具判断
    #if($null.isNull($foo))
    注意这种方式特别有用，尤其你在需要这个判断作为一个判断字句时，比如我要你判断一个集合为null或为空时只能使用这种方式了：
    $if ($null.isNull($mycoll) || $mycoll.size()==0)

*#

#set($var = "test")
<h3>判断为空</h3>
#if(!$foo)
foo is empty
#end

#set($foo = "ok")

<h3>判断非空</h3>
#if($foo)
foo is $foo
#end


#set( $null_arr = [] )
#if ($null.isNull($null_arr) || $null_arr.size()==0)
	null_arr is empty
#end


#set( $mycoll = ["a", "b", "c"] )
#if ($null.isNull($mycoll) || $mycoll.size()==0)
	mycoll is empty
#else
	${mycoll}
#end

