doctype
html
    head
        title= title
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
    body.home
        .container
                h2.page-header 运维监控系统
                    small.ml-10 (输入ID或IP进行查询)
                .row
                    .form-horizontal
                        .col-md-5
                            .form-group
                                label.col-sm-3.control-label(for="uuid") 实例ID：
                                .col-sm-9
                                    input#uuid.form-control(placeholder="请输入用户ID", type="text", value="" ,name="uuid")
                        .col-md-5
                            .form-group
                                label.col-sm-3.control-label(for="ip") 实例IP：
                                .col-sm-9
                                    input#ip.form-control(placeholder="请输入实例IP", type="text", value="" ,name="ip")
                        .col-md-2
                            button#btn_submit.btn.btn-primary(type="submit" value="") 查 询

                .row(style="display:none;")
                    table.table
                        thead
                            tr
                                th 实例信息
                                th
                                th
                                    a.btn.btn-link(href="monitor",target="_blank") 资源监控
                        tbody
                            tr
                                td 实例名：
                                    span(data-rdsName="rdsName", data-key="rdsName")
                                td 实例 ID：
                                    span(data-rdsId="rdsId", data-key="rdsId")
                                td 创建时间：
                                    span(data-createTime="createTime", data-key="createTime")
                            tr
                                td 实例VIP：
                                    span(data-vip="vip", data-key="vip")
                                td 所在机房：
                                    span(data-region="region", data-key="region")
                                td 到期时间：
                                    span(data-expiration="expiration", data-key="expiration")
                            tr
                                td 端口号：
                                    span(data-port="port", data-key="port")
                                td 数据库类型：
                                    span(data-dbType="dbType", data-key="dbType")
                                td 管理员账号：
                                    span(data-adminUser="adminUser", data-key="adminUser")
                            tr
                                td 任务状态：
                                    span(data-status="status", data-key="status")
                                td 白名单：
                                    span(data-xx="securityRuleList", data-key="securityRuleList")
                                td
                .row(style="display:none;")
                    table.table
                        thead
                            tr
                                th 配置信息
                        tbody
                            tr
                                td 内存容量：
                                    span(data-ram="ram", data-key="ram")
                                    |（最大连接数
                                    span(data-maxConn="maxConn", data-key="maxConn")
                                    |， 总IOPS
                                    span(data-iops="iops", data-key="iops")
                                    |）
                            tr
                                td 存储空间：
                                    span(data-disk="disk", data-key="disk")
                            tr
                                td 已用空间：
                                    span(data-storageUsed="storageUsed", data-key="storageUsed")

                .row(style="display:none;")
                    table.table
                        thead
                            tr
                                th 用户信息
                        tbody
                            tr
                                td 用户邮箱：
                                    span(data-userEmail="userEmail", data-key="userEmail")
                            tr
                                td 用户id：
                                    span(data-userName="userName", data-key="userName")



        script(src="/js/jquery-1.11.1.min.js")
        script(src="/js/main.js")