<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>velocity使用</title>
</head>
<body>

	<div class="demo">
		<h2>变量</h2>
		#set($name = "velocity")
		<p>Hello, ${name}</p>
		<input type="email" value="" placeholder ="$!{name}" />

		#set($directoryRoot = "www")
		#set($templateName = "index.vm")
		#set($template = "$!{directoryRoot}/$!{templateName}")
		<p>关联变量 : $!{template}</p>
		
		#set($base = 1)
		#set($result = $base + 1)
		<p>变量相加 : $!{result}</p>
	</div>

	<div class="demo">
		<h2>语句 if/else if/lese</h2>
		#set($users = $data.users)
		#if($users.get(0).name)
			<p>success!</p>
		#end
		
	</div>
</body>
</html>